.home.asideOption.active(data-section='landing-content') #[i.fa-solid.fa-house]
.product.asideOption(data-section='products') #[i.fa-brands.fa-product-hunt]
.user.asideOption(data-section='userProfile') #[i.fa-solid.fa-circle-user]
.bag.asideOption(data-section='cart-page') #[i.fa-solid.fa-bag-shopping]
.chat.asideOption(data-section='contact-section') #[i.fa-solid.fa-message]
ul.list-unstyled
  li(style={'background-color':'#f06a6d'})
  li(style={'background-color':'#fac943'})
  li(style={'background-color':'#79c45f'})