include mixins
.userProfile.mt-5.d-none
  .row
    .main
      .profile
        .profile-img
          .img-box
            img(src='imgs/profile/me.jpg')
        .profile-details
          .name
            h3 Name 
            h2 Mohamed ElSayed
          .id 
            h3 User Id
            h2 2701520142678
          .address
            h3 Address
            h2 Egypt, Assiut, Assiut
          .phone
            h3 Phone Number
            h2 +201092607114
          .payment
            h3 Payments Methods
            h2 #[i.fa-regular.fa-circle-check] &nbsp; Verified
          .Options
            span.logout.btn Logout
            span.btn.btn-danger.ms-4 Delete Account